.register-login-container{
    background-color: white;
    border: none;
    border-radius: 7px;
    padding: 15px;
    width: 30%;
    margin: 0 auto;
   
    margin-top: 70px;
    
}

.register-login-container form{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  
}
.register-login-container form input{
    /* width: 90%; */
    /* margin: 0 auto; */
    padding: 10px 15px;
    border:none;
    border: 1px solid #191919 ;
    
    border-radius: 5px;
}
.register-login-container form button{
    border: none;
    padding: 15px;
    /* width: 97%; */
    /* margin: 0 auto; */
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(25, 25, 25);
    color: white;
    font-weight: bold;
}
.register-login-container form button:hover{
    opacity: .7;
}
.register-login-container .confirmField{
    color:rgb(198, 15, 15)
}
.invalid{
    background-color: rgb(175, 102, 102);
    padding: 10px;
    border-radius: 7px;
}
.finish{
    color: green;
}
.buttonStyle{
    background-color:  rgb(25, 25, 25);
    color: aliceblue;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

@media screen and (max-width: 940px) {
    .register-login-container{
        width: 80%;
    }
    
}